<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CSF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Filt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>corrTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>img2raw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>rtf2Recon_nav.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>rtf3Recon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>rtf3Recon_t.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>seqDiff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B41B43C81328D34100800024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B42562B7165A15AF00AE7D66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B438770A1671C734002837A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B45BCB3C2009EEFD00668D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B45DC59C1FDFAC4900442DA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B479878F1B05EC030000B79E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B480A62413348A5F00C00544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4AC36DE1BB6A2AC00732E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4BBA53E23D5A70C00498AE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4DF1DAC11D88C2700C49A47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E1E14E1A776EE10005A189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
